.sessions {
    display: grid;
    min-height: 100vh;
    align-content: start;
    gap: 20px;
}

.sessions-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sessions-header-element{
    display: grid;
    gap: 10px;
  }

.sessions-header-buttons {
    display: flex;
    gap: 10px;
}

.sessions-header-button-img {
    width: 20px;
}

.sessions-header-button {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 14px;
    height: 40px;
    cursor: pointer;
}

.sessions-search-filter{
    display: flex;
    gap: 10px;

}

.sessions-search-filter .search-wrapper {
    margin-top: 8px;
    min-height: 30px;
    min-width: 260px;
}