.appShell{
    background: white;
    display:grid;
    grid-template-columns: 280px 1fr; 
    min-height: 100vh;

}

.sidebar{
    background:white;

}

.right{
    background: white;
    display:grid;
    grid-template-rows: auto 1fr;
    
}

.header{
    background: white;
    border-bottom: 1px solid #E5E7EB;
}

.content{
    background: #F9FAFB;
}